# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List some of the commonly used libraries by Data Scientists
- List open source Data Science tools
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Pyhton
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pyhton libraries
2. R libraries
3. Scala libraries

| Data Science Tools |
| -------------|
| Jupyter |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5 # Insert a comment line before the expression

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Atahan Onder